.nfs*
*.ipynb
*.mp4
*.gif
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
log_dir
*.pt
data
BehaveMAE/outputs
logs
outputs/
__pycache__